<launch>
    <include file="$(find bullproof_bringup)/launch/all_bots.launch"/>
    <include file="$(find bullproof_perception)/launch/fake_perception.launch"/>
    <!-- <include file="$(find bullproof_nav)/launch/clients.launch"/> -->
    <!-- <node name="vel_forward" pkg="bullproof_bringup" type="sim_publisher.py" output="screen"/> -->
</launch>