<launch>
    <include file="$(find mirte_sim)/launch/mirte.launch"/>
    <include file="$(find bullproof_perception)/launch/fake_perception.launch"/>
    <include file="$(find bullproof_nav)/launch/move_base.launch"/>
    <node name="vel_forward" pkg="bullproof_bringup" type="sim_publisher.py" output="screen"/>
</launch>