<launch>

        <node pkg="bullproof_nav" type="dynamic_obstacles.py" name="dynamic_obstacle_publisher"/>
        <!-- Farmer -->
        <include file="$(find bullproof_nav)/launch/single_bot.launch">
                <arg name="model" value="farmer"/>
        </include>

        <!-- Robot -->
        <include file="$(find bullproof_nav)/launch/single_bot.launch">
                <arg name="model" value="mirte"/>
        </include>

        <!-- Bull -->
        <include file="$(find bullproof_nav)/launch/single_bot.launch">
                <arg name="model" value="bull"/>
        </include>
</launch>