<launch>
        <node pkg="bullproof_nav" type="dynamic_obstacles.py" name="dynamic_obstacle_publisher"/>
        <!-- Robot -->
        <include file="$(find bullproof_nav)/launch/single_bot.launch">
                <arg name="model" value="mirte"/>
                <arg name="if_sim" value="false"/>
        </include>
</launch>