<launch>
      <arg name="robot_name" default="mirte"/>
      <arg name="local_planner" default="dwa"/>
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

         <!-- global_costmap -->
         <rosparam file="$(find bullproof_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
         <rosparam file="$(find bullproof_nav)/config/global_costmap_params.yaml" command="load"/> 

         <!-- local_costmap -->
         <rosparam file="$(find bullproof_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
         <rosparam file="$(find bullproof_nav)/config/local_costmap_params.yaml" command="load"/>
         
         <!-- _local_planner_params -->
         <rosparam file="$(find bullproof_nav)/config/base_local_planner_params.yaml" command="load" />

         <remap from="cmd_vel" to="/$(arg robot_name)/mobile_base_controller/cmd_vel"/>
         <remap from="map" to="/map"/>

         <param name="global_costmap/global_frame" value="$(arg robot_name)_tf/map"/>
         <param name="global_costmap/robot_base_frame" value="$(arg robot_name)_tf/base_link"/>
         <param name="local_costmap/global_frame" value="$(arg robot_name)_tf/map"/>
         <param name="local_costmap/robot_base_frame" value="$(arg robot_name)_tf/base_link"/>
         <!-- <param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg robot_name)_tf/rplidar_lase_link"/> -->
         
         <param name="TebLocalPlannerROS/include_costmap_obstacles" value="False" />
         <param name="TebLocalPlannerROS/include_dynamic_obstacles" value="True" />

         <param name="base_global_planner" value="navfn/NavfnROS" />
         <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
         <param name="controller_frequency" value="15.0" />

         <!-- The time that the robot should wait and retry if it can't immediately converge to the goal pose -->
         <param name="controller_patience" value="5.0" />
      </node>
</launch> 