<launch>
    <arg name="model" default="mirte"/>
    <arg name="simulation" default="false"/>

    <group ns="$(arg model)">
        <!-- planning base -->
        <include file="$(find bullproof_nav)/launch/move_base.launch">
            <arg name="robot_name" value="$(arg model)"/>
            <arg name="simulation" value="$(arg simulation)"/>
        </include>
        
        <!-- planning script -->
        <!-- Conditionally launch different files based on the argument -->
        <group if="$(arg simulation)">
            <node pkg="bullproof_nav" name="$(arg model)_client" type="$(arg model)_client_sim.py" ns="/"/>
        </group>

        <group unless="$(arg simulation)">
            <node pkg="bullproof_nav" name="$(arg model)_client" type="$(arg model)_client.py" ns="/"/>
        </group>
       
    </group>
</launch>